body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #2c3e50;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #34495e;
}

section {
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Add these styles for the profile section */
#about {
    display: flex;
    align-items: center;
}

.profile {
    flex: 0 0 30%;
    margin-right: 20px;
    text-align: center;
    padding: 10px;
}

.profile img {
    max-width: 70%;
    height: auto;
    border-radius: 100%;
}

.profile-info {
    margin-top: 10px;
}

.profile-info h3 {
    margin: 0;
}

.job-title {
    color: #555;
    margin: 5px 0;
}

.lab-name a {
    color: #007BFF; /* Set the color for the link */
    text-decoration: none; /* Remove the underline */
    font-weight: bold; /* Make the link text bold */
}


.social-links {
    margin-top: 10px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links i {
    font-size: 30px; /* Adjust the size of the icons */
    color: #555; /* Adjust the color of the icons */
}

.about-content {
    flex: 1;
}

.about-content-columns {
    padding: 20px;
    display: flex;
    align-items: center;
    align-items: flex-start; /* Align items at the start of the flex container */
}

.column {
    flex: 1;
    padding: 0 20px; /* Add some spacing between columns */
}

.column h2 {
    color: #333; /* Adjust heading color */
    margin-top: 0;
}

.interest-list {
    list-style: none;
    padding: 0;
}

.interest-list li {
    margin-bottom: 20px; /* Adjust spacing between list items */
    display: flex;
    align-items: center;
}

.interest-list i {
    font-size: 30px; /* Adjust the size of the icon */
    margin-right: 10px;
    color: #000000; /* Adjust the color of the icon */
}

.interest-details {
    margin: 0;
}

.interest-details .name {
    margin: 3px;
    /* font-weight: bold;  Optionally make the name bold */
}

.examples {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style: italic;
}

.examples li {
    margin-left: 30px;
    margin-bottom: 5px; /* Adjust spacing between example items */
    position: relative;
}

.examples li:before {
    content: "\2022"; /* Unicode character for a bullet (•) */
    color: #000000; /* Adjust the color of the bullet */
    font-size: 16px; /* Adjust the size of the bullet */
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between the bullet and text */
    position: absolute;
    left: -20px; /* Adjust the distance of the bullet from the text */
    top: 50%; /* Center the bullet vertically */
    transform: translateY(-50%);
}

.education-list {
    list-style: none;
    padding: 0;
}

.education-list li {
    margin-bottom: 20px; /* Adjust spacing between list items */
    display: flex;
    align-items: center;
}

.education-list i {
    font-size: 24px; /* Adjust the size of the icon */
    margin-right: 10px;
    color: #000000; /* Adjust the color of the icon */
}

.education-info {
    flex: 1;
}

.education-list .degree,
.education-list .dates,
.education-list .university {
    margin: 0;
}

.education-list .dates {
    color: #777; /* Adjust the color of the dates text */
}

.education-list .university {
    color: #555; /* Adjust the color of the university text */
    font-style: italic;
}

#projects {
    background-color: #f7f7f7;
}

